/.idea
/nbproject

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
/bin/phpunit
/bin/.phpunit
###< symfony/phpunit-bridge ###
